<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="views/productos.html">Productos</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Promociones
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Sucursales</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex justify-content-evenly">
      <h2>Productos</h2>
    </div>
    <div class="d-flex justify-content-evenly">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-evenly">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-evenly">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div><div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div><div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-evenly">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div><div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div><div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../src/img/9.jpeg"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reloj Casio <br /></h5>
              <p class="card-text">
                Codigo: 001 <br />
                cantidad: 20 <br />
                precio : $1740 <br />
                IVA: $240 <br />
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
