<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>promociones</title>
    <link rel="stylesheet" href="../src/style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div id="cuerpo">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-center">
          <a class="navbar-brand" href="#">
            <img
              src="../src/img/40.png"
              alt="Logo"
              width="100"
              height="80"
              class="d-inline-block align-text-top rounded"
            />
          </a>
        </div>
      </nav>
      <div class="d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="../index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/productos.html"
                    >Productos</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a href="../views/promociones.html" class="nav-link">
                    Promociones
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/sucursales.html"
                    >Sucursales</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="d-flex justify-content-evenly">
        <h2><span style="color: indigo">P</span>romociones</h2>
      </div>
      <br />
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Promo Reloj Clásico</h5>
              <p class="card-text">$120</p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
            <img
              src="../src/img/16.jpeg"
              class="card-img-bottom"
              alt="Reloj Clásico"
              height="250"
            />
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Promo Elegancia Moderna</h5>
              <p class="card-text">$150</p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
            <img
              src="../src/img/18.jpeg"
              class="card-img-bottom"
              alt="Reloj Moderno"
              height="250"
            />
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Promo Deportivo</h5>
              <p class="card-text">$180</p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
            <img
              src="../src/img/19.jpeg"
              class="card-img-bottom"
              alt="Reloj Deportivo"
              height="250"
            />
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Promo Lujo</h5>
              <p class="card-text">$250</p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
            <img
              src="../src/img/20.jpeg"
              class="card-img-bottom"
              alt="Reloj de Lujo"
              height="250"
            />
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Promo Casual</h5>
              <p class="card-text">$95</p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
            <img
              src="../src/img/21.jpeg"
              class="card-img-bottom"
              alt="Reloj Casual"
              height="250"
            />
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Promo Premium</h5>
              <p class="card-text">$320</p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
            <img
              src="../src/img/22.jpeg"
              class="card-img-bottom"
              alt="Reloj Premium"
              height="250"
            />
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Promo Colección Limitada</h5>
              <p class="card-text">$500</p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
            <img
              src="../src/img/23.jpeg"
              class="card-img-bottom"
              alt="Reloj Limitado"
              height="250"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
