<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="#">
          <img
            src="../src/img/40.png"
            alt="Logo"
            width="100"
            height="80"
            class="d-inline-block align-text-top rounded"
          />
        </a>
      </div>
    </nav>  
    <div class="d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="../index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/productos.html">Productos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="../views/promociones.html"
                  >Promociones</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="../views/sucursales.html"
                  >Sucursales</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="d-flex justify-content-evenly">
      <h3><span style="color: indigo">S</span>ucursales</h3>
    </div>
    <br />
    <div class="d-flex align-content-between flex-wrap justify-content-evenly">
      <div class="card" style="width: 18rem">
        <img
          src="../src/img/11.jpeg"
          class="card-img-top rounded-circle"
          alt="../src/img/"
        />
        <div class="card-body">
          <p class="card-text">
            Quito <br />
            Av. Simón Bolívar N34-332 y Av. De los Granados <br />
            Teléfono: 02-222-2222
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../src/img/12.jpeg"
          class="card-img-top rounded-circle"
          alt="../src/img/"
        />
        <div class="card-body">
          <p class="card-text">
            Ibarra <br />
            Av. Amazonas y Av. Mariana de Jesús N34-332 <br />
            Teléfono: 06-222-2222
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../src/img/13.jpeg"
          class="card-img-top rounded-circle"
          alt="../src/img/"
        />
        <div class="card-body">
          <p class="card-text">
            Riobamba <br />
            Av. Gran Colombia y Av. Daniel León Borja N34-332 <br />
            Teléfono: 03-222-2222
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../src/img/14.jpeg"
          class="card-img-top rounded-circle"
          alt="../src/img/"
        />
        <div class="card-body">
          <p class="card-text">
            Guayaquil <br />
            Av. 9 de Octubre y Av. Francisco de Orellana N34-332 <br />
            Teléfono: 04-222-2222
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../src/img/15.jpeg"
          class="card-img-top rounded-circle"
          alt="../src/img/"
        />
        <div class="card-body">
          <p class="card-text">
            Cuenca <br />
            Av. Solano y Av. Loja N34-332 <br />
            Teléfono: 07-222-2222
          </p>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
